

:root{
    --color-green-low:#BEEFC3;
    --color-green-high: #4B956C;
    --color-white-low: #FCEFF9;
    --color-blue-category:#B388EB;
    --color-blue-category2:#b388eb63;
    --color-green-category:#60D394;
    --color-green-category2:#60d3946c;
}



@media  screen and (max-width: 1792px){

*{
 font-family: 'Poppins', sans-serif;
}
.body{
    background-color: var(--color-white-low);
}

ul{
    list-style-type: none;
}
    /*--logo--*/
.header-style{
    display: flex;
    justify-content: center;
}

.Logo { 
    width: 5rem;
    height: 5rem;
}
}

    /*--title--*/
.title-list{
    margin-top: 2rem ;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
    border: 2px solid var(--color-green-low);
    background-color: var(--color-green-low);
    position: relative;
}

.title-list img{
    width: 1.5rem;
    height: 1.5rem;
    margin-top: 0.8rem;
    position: absolute;
    right: 1rem;
}
    /*--Form--*/
/* Estilos gerais para o formulário */
.form-add-iten-container {
    max-width: 400px;
    margin: 20px auto;
}

.form-add-iten-style {
    border: 1px solid #494848;
    padding: 20px;
    border-radius: 8px;
}

.form-add-iten {
    display: flex;
    flex-direction: column;
}

/* Estilos para os rótulos e inputs */
label {
    margin-bottom: 8px;
    font-weight: bold;
}

.input-name,
.input-unit,
.input-brand {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Estilo para o seletor de categoria */
.select-for-category {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Estilo para o seletor de importância */
#importanceId {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    box-sizing: border-box;
}

/* Estilo para o botão de envio */
.button-to-add {
    background-color: var(--color-green-high);
    color: white;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button-to-add:hover {
    background-color: #45a049;
}


    /*--list--*/

.hidden{
    display: none;
}
.active img{
    transform: rotate(90deg);
}

.list-Grocery{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-bakery{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-colds{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-fruits{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-vegetables{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-meat{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-frozen{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-drinks{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-canned{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-treats{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-preparations{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-sauces{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-utilities{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-cleaning{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-hygiene{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-pharmacy{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}
.list-pets{
    border: 2px solid var(--color-blue-category);
    background-color: var(--color-blue-category2);
}
.list-home-appliances{
    border: 2px solid var(--color-green-category);
    background-color: var(--color-green-category2);
}

.itens-list-style img{
    width: 1.5rem;
    height: 1.5rem;
    position: absolute;
    right: 1rem;
}

.list-view-css-purple{
    border: 1px solid var(--color-blue-category);

}